*{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100vh;
	 background: linear-gradient(45deg, #49a09d, #5f2c82);
	display: flex;
	justify-content: center;	
	align-items: center;
	color: #ffffff;
	font-size: 100px;
}